.container {
    width: 80vw;
    height: 80vh;
    position: relative;
    background-color: white;
    margin: 4% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    @media(max-width: 800px) {}
    .img {
        width: 30vw;
        display: flex;
        margin: auto;
    }
    .sign-in {
        margin: auto;
        padding: 50px;
        .header {
            margin-bottom: 40px;
        }
        .input {
            border: none;
            border-bottom: 2px solid black;
            margin-bottom: 35px;
        }
        .icon {
            padding: 1px;
            min-width: 40px;
            background-color: transparent;
        }
        .button {
            background-color: #00DFC0;
            border-radius: 5px;
            border: 1px solid #102e07;
            display: inline-block;
            cursor: pointer;
            color: #2A454E;
            font-family: Arial;
            font-size: 17px;
            font-weight: bold;
            padding: 12px 44px;
            text-decoration: none;
            box-shadow: 3px 4px 0px 0px #009C86;
            margin-top: 80px;
            &:hover {
                background-color: #2A454E;
                color: #00DFC0;
            }
            &:active {
                position: relative;
                top: 3px;
            }
        }
    }
}