 .form {
     width: 60vw;
     margin: 1% auto;
     .rs-panel-heading {
         padding: 0;
     }
     @media(max-width: 800px) {
         width: 90vw;
         font-size: 14px;
     }
 }
 
 //  .rs-steps-item-title {
 //      @media(max-width: 800px) {
 //          display: none;
 //      }
 //  }
 .rs-btn.rs-btn-default {
     background-color: #3498ff;
     color: white;
 }
 
 .rs-panel-body {
     @media(min-width: 800px) {
         height: 60vh;
     }
     .first-col {
         text-align: center;
         @media(max-width: 800px) {
             margin-bottom: 30px;
         }
         .first-col-split {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
             @media(max-width: 800px) {
                 display: inline;
             }
             .input {
                 border: none;
                 border-bottom: 1px solid black;
                 margin-bottom: 35px;
                 background-color: transparent;
                 color: black;
                 font-weight: 500;
                 &:focus {
                     outline: none;
                     border-bottom: 2px solid #3498ff;
                 }
             }
             .icon {
                 min-width: 40px;
                 background-color: transparent;
             }
         }
         .input {
             border: none;
             border-bottom: 1px solid black;
             margin-bottom: 35px;
             background-color: transparent;
         }
         .icon {
             min-width: 40px;
             background-color: transparent;
         }
         .header,
         h1 {
             color: #3498ff;
             margin-top: 0px;
             margin-bottom: 30px;
             font-size: 25px;
             @media(max-width: 800px) {
                 font-size: 16px;
                 margin-bottom: 20px;
             }
             //  text-align: center;
         }
         .choseCards {
             display: grid;
             grid-template-columns: 1fr 1fr;
             @media(max-width: 800px) {
                 display: inline;
             }
             .card {
                 margin-bottom: 30px;
             }
         }
         .chose-my-business {
             position: relative;
             outline: none;
             border: 1px solid rgb(196, 187, 187);
             padding: 10px;
             margin-bottom: 10px;
             height: 40px;
             width: 60%;
             border-radius: 4px;
             appearance: none;
             background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
             background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
             background-size: 5px 5px, 5px 5px, 1px 1.5em;
             background-repeat: no-repeat;
             .option {
                 color: rgb(179, 174, 174);
                 &-1 {
                     color: black;
                 }
             }
         }
     }
 }
 
 .button {
     background-color: #3498ff;
     border-radius: 30px;
     display: inline-block;
     cursor: pointer;
     color: rgb(255, 255, 255);
     //  font-family: Arial;
     font-size: 17px;
     font-weight: 500;
     padding: 9px 22px;
     text-decoration: none;
     //  box-shadow: 3px 4px 0px 0px #2b7fd3;
     margin-top: 60px;
     &:hover {
         background-color: #e1effd;
         color: #3498ff;
     }
     &:active {
         position: relative;
         top: 3px;
     }
     @media(max-width: 800px) {
         margin-top: 40px;
     }
 }
 
 .colorIcon {
     height: 10px;
 }
 
 //  .profile {
 //      // position: absolute;
 //      margin: auto;
 //      padding: 50px;
 //      // grid-template-rows: repeat(minmax(200px, 1fr));
 //      display: grid;
 //      grid-template-columns: 1fr 1fr 1fr;
 //      @media(max-width: 800px) {
 //          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 //          font-size: 14px;
 //          margin-bottom: 20px;
 //      }
 //      // grid-template-columns: repeat(minmax(200px, 1fr));
 //      .header,
 //      h1 {
 //          margin-top: 40px;
 //          margin-bottom: 30px;
 //          font-size: 25px;
 //          @media(max-width: 800px) {
 //              font-size: 14px;
 //              margin-bottom: 20px;
 //          }
 //      }
 //      .first-col {
 //          padding: 20px;
 //          background-color: rgb(236, 232, 232);
 //          border: 1px solid gray;
 //          margin: 0 10px;
 //          @media(max-width: 800px) {
 //              margin-bottom: 30px;
 //          }
 //          .input {
 //              border: none;
 //              border-bottom: 2px solid black;
 //              margin-bottom: 35px;
 //              background-color: transparent;
 //          }
 //          .icon {
 //              min-width: 40px;
 //              background-color: transparent;
 //          }
 //      }
 //      .second-col {
 //          padding: 20px;
 //          background-color: rgb(236, 232, 232);
 //          border: 1px solid gray;
 //          margin: 0 10px;
 //          @media(max-width: 800px) {
 //              margin-bottom: 30px;
 //          }
 //          .chose-my-business {
 //              position: relative;
 //              outline: none;
 //              border: 1px solid rgb(196, 187, 187);
 //              padding: 10px;
 //              margin-bottom: 10px;
 //              height: 40px;
 //              width: 60%;
 //              border-radius: 4px;
 //              appearance: none;
 //              background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
 //              background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
 //              background-size: 5px 5px, 5px 5px, 1px 1.5em;
 //              background-repeat: no-repeat;
 //              .option {
 //                  color: rgb(179, 174, 174);
 //                  &-1 {
 //                      color: black;
 //                  }
 //              }
 //          }
 //      }
 //      .drop-my-business {
 //          margin-bottom: 20px;
 //      }
 //  }
 //  .last-col {
 //      padding: 20px;
 //      background-color: rgb(236, 232, 232);
 //      margin: 0 10px;
 //      border: 1px solid gray;
 //      @media(max-width: 800px) {
 //          margin-bottom: 30px;
 //      }
 //  }
 .username {
     position: relative;
     text-align: center;
     margin-top: 0px;
     padding: 2%;
     // left: 34%;
     @media(max-width: 800px) {
         font-size: 18px;
         padding-top: 40px;
     }
 }