 .form {
     font-family: 'Montserrat', sans-serif;
     width: 65vw;
     margin: 1% auto;
     .rs-panel-heading {
         padding: 0;
         font-size: 14px;
     }
     @media(max-width: 800px) {
         width: 90vw;
         font-size: 14px;
     }
 }
 
 .rs-btn.rs-btn-default {
     background-color: #3498ff;
     color: white;
 }
 
 .rs-panel-body {
     @media(min-width: 800px) {
         height: 58vh;
         padding-bottom: 10px;
     }
     .first-col {
         text-align: center;
         @media(max-width: 800px) {
             margin-bottom: 30px;
         }
         &-split1 {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
             font-family: 'Open_Sans', sans-serif;
              ::placeholder {
                 color: rgb(187, 187, 198);
             }
             @media(max-width: 800px) {
                 display: inline;
             }
             .input {
                 border: none;
                 border-bottom: 1px solid black;
                 margin-bottom: 35px;
                 background-color: transparent;
                 color: black;
                 font-weight: 500;
                 &:focus {
                     outline: none;
                     border-bottom: 2px solid #3498ff;
                 }
             }
             .icon {
                 min-width: 40px;
                 background-color: transparent;
             }
         }
         &-split2 {
             display: grid;
             grid-template-columns: 1fr 1fr;
             //  font-family: 'Open_Sans', sans-serif;
             @media(max-width: 800px) {
                 display: inline;
             }
              ::placeholder {
                 color: rgb(187, 187, 198);
             }
             .business-inputs {
                 margin-bottom: 50px;
             }
             .inputData {
                 outline: none;
                 border: 1px solid #c4bbbb;
                 padding: 10px;
                 margin-bottom: 10px;
                 height: 200px;
                 width: 60%;
                 border-radius: 4px;
             }
             .chose-my-business {
                 position: relative;
                 outline: none;
                 border: 1px solid rgb(196, 187, 187);
                 padding: 10px;
                 margin-bottom: 10px;
                 height: 40px;
                 width: 60%;
                 border-radius: 4px;
                 appearance: none;
                 background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
                 background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
                 background-size: 5px 5px, 5px 5px, 1px 1.5em;
                 background-repeat: no-repeat;
                 .option {
                     color: rgb(179, 174, 174);
                     &-1 {
                         color: black;
                     }
                 }
             }
         }
         .header,
         h1 {
             color: #3498ff;
             margin-top: 0px;
             margin-bottom: 20px;
             font-size: 20px;
             @media(max-width: 800px) {
                 font-size: 16px;
                 margin-bottom: 20px;
             }
             //  text-align: center;
         }
         .choseCards {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
             font-family: 'Open_Sans', sans-serif;
             @media(max-width: 800px) {
                 display: inline;
             }
             .card {
                 margin-bottom: 30px;
             }
         }
     }
 }
 
 .button {
     background-color: #3498ff;
     border-radius: 30px;
     display: inline-block;
     cursor: pointer;
     color: rgb(255, 255, 255);
     //  font-family: Arial;
     font-size: 17px;
     font-weight: 500;
     padding: 9px 22px;
     text-decoration: none;
     //  box-shadow: 3px 4px 0px 0px #2b7fd3;
     margin-top: 60px;
     &:hover {
         background-color: #e1effd;
         color: #3498ff;
     }
     &:active {
         position: relative;
         top: 3px;
     }
     @media(max-width: 800px) {
         margin-top: 40px;
     }
 }
 
 .colorIcon {
     height: 10px;
 }
 
 .username {
     font-family: 'Montserrat', sans-serif;
     font-size: 30px;
     position: relative;
     text-align: center;
     margin-top: 0px;
     padding: 2%;
     @media(max-width: 800px) {
         font-size: 17px;
         padding-top: 40px;
     }
 }