.sign-up {
    // position: relative;
    // margin: 45px 0;
    padding: 10px;
    margin: 20px;
    .input {
        border: none;
        border-bottom: 2px solid black;
        margin-bottom: 15px;
    }
    .icon {
        padding: 1px;
        min-width: 40px;
        border-bottom: 2px solid black;
    }
}