    .menu-item1 {
        padding: 10px;
        margin: 10px;
        background-color: white;
        border: .5px solid #c7c6c6;
        box-shadow: 4px 4px 5px 2px #d8d5d5;
        border-radius: .70rem;
        &:hover {
            cursor: pointer;
            transform: translateY(-10px) scale(1.05);
            transition: .5s;
        }
        @media(max-width: 800px) {
            border-radius: 50%;
        }
        //  background-size: auto;
        // &:first-child {
        //     margin-right: 20px;
        // }
        // &:last-child {
        //     margin-right: 20px;
        // }
        .item-logo {
            height: 100px;
            width: 100px;
            position: relative;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -50%);
            background-size: contain;
            color: #4f4f4f;
            // border: .5px solid #c7c6c6;
            // box-shadow: 4px 4px 5px 2px #d8d5d5;
            //background-image: url('../../img/facebook.png');
            background-color: transparent;
            @media(max-width: 800px) {
                height: 50px;
                width: 50px;
                z-index: 100;
            }
        }
        .svg {
            height: 100px;
            width: 100px;
            @media(max-width: 800px) {
                height: 50px;
                width: 50px;
            }
            // border: .5px solid #c7c6c6;
            // box-shadow: 4px 4px 5px 2px #d8d5d5;
        }
        .item-title {
            color: #3498ff;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            background-color: transparent;
            margin-top: 15px;
            @media(max-width: 800px) {
                margin: 0px;
                font-size: 0;
            }
        }
    }
    
    ion-icon {
        height: 100px;
        width: 100px;
        position: relative;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        background-size: contain;
        //background-image: url('../../img/facebook.png');
        background-color: transparent;
        @media(max-width: 800px) {
            height: 50px;
            width: 50px;
        }
    }