   * {
       padding: 0;
       margin: 0;
   }
   
   .dir {
       display: grid;
       grid-template-rows: 69vh 28vh;
       @media(max-width: 600px) {
           grid-template-rows: 50vh 45vh;
       }
       .button-menu {
           display: grid;
           //    justify-self: end;
           grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
           grid-template-rows: 1fr;
           height: 30vh;
           //    position: relative;
           //    top: 9rem;
           @media(max-width: 800px) {
               //    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
               //    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
               grid-template-rows: repeat(3, 1fr);
               grid-template-columns: repeat(3, 1fr);
               //    height: 45vh;
               //    width: 80vw;
               margin: auto;
           }
           @media(max-width: 400px) {
               //    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
               //    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
           }
       }
       .bigImg {
           margin: 0px 10px;
           display: grid;
           border-top: 5px solid black;
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
           height: 68vh;
           width: 99%;
           position: absolute;
           object-fit: cover;
           @media(max-width: 600px) {
               height: 45vh;
               width: 100vw;
               margin: 0;
               border-top: none;
           }
           // align-items: center;
           //    grid-template-rows: 70vh;
       }
   }
   
   .view {
       @media(max-width: 600px) {
           height: 50vh;
           display: grid;
           grid-template-rows: 36vh;
       }
       .smallImgFig {
           width: 15rem;
           height: 15rem;
           background-color: whitesmoke;
           border: 1.5px solid #c7c6c6;
           position: relative;
           overflow: hidden;
           border-radius: 50%;
           margin-left: 20px;
           @media(max-width: 600px) {
               width: 8rem;
               height: 8rem;
               margin: auto;
           }
           .smallImg {
               object-fit: cover;
               width: 15rem;
               height: 15rem;
               //    position: absolute;
               z-index: 10;
               @media(max-width: 600px) {
                   width: 8rem;
                   height: 8rem;
               }
           }
       }
   }
   
   .bizzName {
       font-size: 50px;
       text-align: center;
       // display: inline-block;
       position: relative;
       @media(max-width: 600px) {
           margin: 20px;
           font-size: 20px;
       }
   }