.directory-menu {
    display: grid;
    grid-template-rows: 70vh 30vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // grid-template-columns: repeat(8, 1fr);
    .cover-image {
        background-image: url('../../img/3093524.jpg');
        background-size: cover;
        grid-column: 1/9;
        margin: 10px;
    }
}