   * {
       padding: 0;
       margin: 0;
   }
   
   .dir {
       height: 100vh;
       display: grid;
       grid-template-rows: 49vh 22vh 29vh;
       @media(max-width: 800px) {
           grid-template-rows: 36vh 19vh 45vh;
       }
       .bigImg {
           //    margin: 0px 10px;
           display: grid;
           //    border-top: 5px solid black;
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
           height: 50vh;
           width: 100vw;
           position: absolute;
           object-fit: cover;
           @media(max-width: 800px) {
               height: 36vh;
               width: 100vw;
               margin: 0;
               border-top: none;
           }
       }
       .title {
           h1 {
               font-size: 43px;
           }
           @media(max-width: 800px) {
               line-height: 40px;
               padding-left: 10px;
               height: 20vh;
               h1 {
                   font-size: 20px;
                   line-height: 50px;
               }
               h2 {
                   font-size: 17px;
                   line-height: 30px;
               }
           }
       }
       .smallImgFig {
           width: 100vw;
           background-color: white;
           display: grid;
           grid-template-columns: 30vw 55vw 15vw;
           @media(max-width: 800px) {
               width: 100vw;
               height: 7.5rem;
               grid-template-columns: 30vw 55vw 15vw;
               top: 120%;
           }
           .smallImgFigInner {
               position: relative;
               top: -35%;
               width: 11rem;
               height: 11rem;
               background-color: whitesmoke;
               border: 3px solid #fffcfc;
               overflow: hidden;
               border-radius: 50%;
               margin-left: 20px;
               @media(max-width: 600px) {
                   width: 7rem;
                   height: 7rem;
                   z-index: 10;
                   top: -20%;
                   margin-left: 10px;
               }
               .smallImg {
                   object-fit: cover;
                   width: 11rem;
                   height: 11rem;
                   @media(max-width: 600px) {
                       width: 7rem;
                       height: 7rem;
                   }
               }
           }
       }
       .pop1 {
           position: relative;
           top: -3%;
           .pop {
               width: 50px;
               @media(max-width: 800px) {
                   width: 32px;
               }
           }
       }
       .button-menu {
           display: grid;
           position: relative;
           grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
           height: 25vh;
           @media(max-width: 800px) {
               grid-template-rows: repeat(3, 1fr);
               grid-template-columns: repeat(3, 1fr);
               margin: auto;
               height: 45vh;
           }
       }
   }