.sign-in {
    // position: relative;
    // margin: 45px 0;
    padding: 10px;
    margin: 20px;
    .input {
        border: none;
        border-bottom: 2px solid black;
        margin-bottom: 15px;
    }
}