.homepage {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 191);
    height: 100vh;
    h1,
    h2 {
        position: relative;
        top: 20%;
        text-align: center;
        padding: 10px;
    }
}