.homepage {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 113, 214);
    height: 100vh;
    color: white;
    h1,
    h2 {
        position: relative;
        top: 20%;
        text-align: center;
        padding: 10px;
    }
}