.img {
    height: 120px;
    padding-bottom: 20px;
}

p {
    padding-top: 10px;
    font-weight: 600;
}

.imageUpload {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 120px;
    // row-gap: 20px;
    @media(max-width: 800px) {
        display: inline;
    }
    .backgroundImg,
    .smallImg {
        padding: 30px;
    }
}

.progressBar {
    display: none;
    @media(max-width: 800px) {
        display: inline;
        margin: auto;
        height: 30px;
        width: 200px;
    }
}

.buttonImgUpload {
    background-color: #3498ff;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    // font-family: Arial;
    font-size: 17px;
    font-weight: 500;
    padding: 9px 22px;
    text-decoration: none;
    // box-shadow: 3px 4px 5px 1px #76a8da;
    margin-top: 20px;
    &:hover {
        background-color: #e1effd;
        color: #3498ff;
    }
    &:active {
        position: relative;
        top: 3px;
    }
    @media(max-width: 800px) {
        margin-top: 40px;
    }
}